{{!--

If the user is NOT logged in, and 'GET /protected' endpoint is called, you will render this view that displays:
-Error page saying that the user is not logged in

--}}
<h1 style="font-family: 'Quicksand', sans-serif; font-size: 36px; color: #FF5733;">The User Is Not Logged In!</h1>