{{! 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Inform the user that they have been logged out
-Provide a URL hyperlink to the / route

 }}
<div class="message-container">
  <h1 style="color: #FF5733;">Logged Out Successfully!</h1>
  <a href="/logout" class="buttonn">Go Back To Login Page</a>
</div>